* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: lightpink;
}

.container {
    width: 80%;
    min-height: 100vh;
    margin: auto;
    background-color: white;
}

input {
    padding: 10px;
    border: 1px solid lightgray;
    width: 80%;
    box-sizing: border-box;
    outline: none;
    font: 1.2rem;
    margin: 10px;
}

button {
    padding: 10px;
    border: 1px solid lightgray;
    outline: none;
    width: 15%;
    margin: 1px;
    cursor:pointer;
    background-color: lightblue;
    color: white;
    transition: background-color 0.5s;
}

button:hover {
    background-color: darkblue;
    border: 1px solid red;
    flex-wrap: wrap;
}

.tags {
    display: flex;
}

.tag {
    background-color: lightcoral;
    width: 30%;
    box-sizing: border-box;
    padding: 20px;
    color: white;
    margin: 20px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}